$tablet: 1179px;
$mobile: 539px;
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
}

fieldset {
	border: none;
}

.hidden {
	position: absolute;
	top: -9999px;
	opacity: 0;
}
table {
	border-collapse: collapse;
}

@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Noto+Sans:wght@300;400;500;600;700&family=Orbitron:wght@400;700&family=Raleway:wght@300;400;700&family=Roboto:wght@300&display=swap');

.join {
	width: 100%;
	padding: 150px 0;

	.inner {
		width: 1180px;
		margin: 0 auto;

		h1 {
			font: normal 60px/1 'raleway';
		}
		table {
			width: 100%;
			border-top: 2px solid #333;
			border-bottom: 2px solid #333;

			th,
			td {
				border-bottom: 1px solid #ddd;
				padding: 16px 25px;
			}
			th {
				width: 20%;

				input[type='reset'],
				input[type='submit'] {
					width: 30%;
					height: 40px;
					border: 1px solid #333;
					margin: 10px;
					font: bold 14px/40px 'arial';
					color: #555;
					text-align: center;
					cursor: pointer;
					transition: 0.5s;

					&:hover {
						background: #333;
						color: #fff;
					}
				}
			}
			td {
				border-left: 1px solid #aaa;

				input[type='text'],
				input[type='password'],
				input[type='email'],
				select {
					width: 60%;
					padding: 10px;
					background: rgba(0, 0, 0, 0.1);
					border: 1px solid #aaa;
				}
				label {
					margin-right: 30px;
				}
				textarea {
					width: 60%;
					resize: none;
					height: 150px;
					padding: 10px;
					border: 1px solid #aaa;
					background: rgba(0, 0, 0, 0.1);
				}
				p {
					font: 11px/1 '맑은 고딕';
					color: hotpink;
					margin-top: 5px;
				}
			}
		}
	}
}

//tablet -------------------------------------------------------------------------
@media screen and (max-width: $tablet) {
	.join {
		.inner {
			width: 100%;

			table {
				th {
					width: 20%;
					display: none;
					&:last-child {
						display: block;
						width: 100%;
					}
				}
				td {
					border-left: none;

					textarea {
						width: 60%;
					}
				}
			}
		}
	}
}

//mobile -------------------------------------------------------------------------
@media screen and (max-width: $mobile) {
	.join {
		.inner {
			table {
				th {
					font-size: 0;
					input[type='reset'],
					input[type='submit'] {
						width: 40%;
						margin: 0 5%;
					}
				}
				td {
					input[type='text'],
					input[type='password'],
					input[type='email'],
					select {
						width: 100%;
					}
					label {
						display: block;
						margin-right: 0;
					}

					textarea {
						width: 100%;
					}
					p {
						display: block;
					}
				}
			}
		}
	}
}
